body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}



.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:1.0;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('Img/2.jpg');
  min-height:100%;
}

 .button{ 
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.pimg2{
  background-image:url('Img/1.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('Img/assasin.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-ligh{
  background-color:#FFF;
  color:#666;
}

.section-light{
  background-color:#D3D3D3;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
    font-family: sans-serif;
  font-size:27px;
  letter-spacing:8px;
  text-transform:none;
}

.ptext .border{
  background-color:transparent;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
    
    
  
}
